.camera {
  background-color: none;

  border-radius: 2px;
  color: black;
  font-size: 80px; 

 

}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width:2000px) {
  .camera{
   font-size:70px;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width:800px) {
  .camera {
    
    color: black;
    border-radius: 1px;
        font-size: 60px;

  }
}
@media screen and (max-width:500px) {
  .camera {
    
    color: black;
    border-radius: 1px;
    font-size: 50px;

  }
}
@media screen and (max-width:300px) {
  .camera {
    
    color: black;
    border-radius: 1px;
    font-size: 30px;
  }
}

.bname {
  background-color: none;
  color: black;
  font-size: 30px;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 2000px) {
  .bname {
    
    color: black;
    font-size: 40px;
    color: black;

    
  }
}

@media screen and (max-width: 1000px) {
  .bname {
    
    color: black;
    font-size: 35px;
    color: black;
    
  }
}
@media screen and (max-width: 700px) {
  .bname {
    
    color: black;
    font-size: 32px;
    color: purple;
    
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 500px) {
  .bname {
    
    color: black;
    font-size: 30px;
    color: purple;

  }
}
@media screen and (max-width: 300px) {
  .bname {
    
    color: black;
    font-size: 28px;
    color: purple;
    
  }
}
